body {
  font-family: Oxygen, Helvetica, Arial, sans-serif;
  background-color: #65cd65;
}
a {
  color: white;
}
sub {
  position: relative;
  top: 0.5em;
  font-size: 0.5em;
}
header {
  border-bottom: 4px solid #c5ecc5;
  padding-right: 4px;
}
header h1,
header h2 {
  display: inline-block;
}
header h1 {
  color: #ecf9ec;
  font-size: 4em;
  margin: 20px 10px 13px 6px;
}
header h2 {
  color: #c5ecc5;
  font-size: 1.5em;
  margin: 0 2px 4px 2px;
}
header #icon-links {
  position: absolute;
  top: 2px;
  right: 2px;
  display: inline-block;
}
header .icon-link {
  margin-top: 5px;
  margin-right: 4px;
  display: inline-block;
}
header .icon-link img {
  opacity: 0.7;
  transition: opacity 0.3s;
}
header .icon-link img:hover {
  opacity: 1;
}
#react-container {
  padding: 1px 10px;
  padding-bottom: 50px;
  background-color: #f6f6f6;
  border-bottom: 4px solid #c5ecc5;
}
.content {
  text-align: center;
}
.search-bar {
  margin: 10px 0;
}
.search-bar input[type=text] {
  padding: 4px 6px;
  border: 2px solid rgba(170, 213, 42, 0.4);
  font-size: 1.2em;
  box-sizing: border-box;
  height: 36px;
  vertical-align: middle;
  transition: border 0.2s;
}
.search-bar input[type=text]:focus {
  border: 2px solid #aad52a;
  outline: none;
}
.search-bar .search-button {
  background-color: rgba(170, 213, 42, 0.6);
  margin-left: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
  vertical-align: middle;
}
.search-bar .search-button:hover {
  background-color: #aad52a;
}
.search-table {
  margin: 10px auto;
  text-align: center;
  width: 100%;
}
.search-table table {
  margin: 0 auto;
  border-right: 1px solid #e9e9e9;
  border-left: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
}
.search-table td,
.search-table th {
  padding: 4px 12px 4px 6px;
}
.search-table td.text,
.search-table th.text {
  text-align: left;
}
.search-table td.numeric,
.search-table th.numeric {
  text-align: right;
}
.search-table td .sale,
.search-table th .sale {
  color: #e60000;
}
.search-table td:last-child,
.search-table th:last-child {
  padding-right: 6px;
}
.search-table .col-title {
  background-color: #7865cd;
}
.search-table .col-title-text {
  color: #eee;
  transition: color 0.2s;
}
.search-table .col-title-text.orderable {
  cursor: pointer;
  color: #d4f570;
}
.search-table .col-title-text.orderable:hover {
  color: #ac99ff;
}
.search-table .col-title-arrow {
  color: #eee;
  cursor: pointer;
}
.search-table .col-title-arrow:hover {
  color: #ac99ff;
}
.search-table tr:nth-child(even) {
  background-color: #e9e9e9;
}
.search-table a {
  text-decoration: none;
  color: #45329a;
}
.search-table a:hover {
  color: #5833ff;
}
.search-table a:visited {
  color: #b678d3;
}
.page-index {
  margin-top: 8px;
}
.page-index .page-index-text {
  margin: 0 4px;
}
.page-index .page-arrow {
  color: #7865cd;
  cursor: pointer;
  transition: color 0.2s;
  font-size: 1.2em;
}
.page-index .page-arrow:hover {
  color: #5833ff;
}
footer {
  font-size: 0.9em;
  color: #ecf9ec;
  text-align: center;
}
footer ul {
  display: inline-block;
  margin: 0 auto;
  text-align: left;
}
footer p {
  padding: 6px;
}
